@import "tailwindcss";

@theme {
  --color-grey-900: #141414;
  --color-grey-800: #1f1f1f;
  --color-grey-700: #333333;

  --color-green-900: #c4f82a;

  --font-inter: Inter, sans-serif;
}

@utility title {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
}

@utility base {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

@utility base-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
}

@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}